<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://thymeleaf.org"> -->
<!-- <head> -->
<!-- 	<meta charset="UTF-8"> -->
<!-- 	<title>Join a Channel</title> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<h2>Join a Channel</h2> -->
<!-- 	<div> -->
<!-- 		<a href="/channels/1" id="channel">General Lobby </a> -->

<!-- 	</div> -->

<!-- 	<h2>Join A Channel</h2> -->
<!-- 	<div th:each="channel : ${channels}"> -->
<!-- 		<a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}" th:text="${channel.name}"></a> -->
<!-- 	</div> -->
<!-- 	<script src="/js/welcome.js" type="text/javascript"></script> -->
<!-- </body> -->
<!-- </html> -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Join A Channel</title>
	
</head>
<body>
	<h1>Join A Channel</h1>
	<div>
		<a href="/channels/1" onclick="setChannelId()">General</a>
	</div>
	<script src="/js/welcome.js"></script>
</body>
</html>